:root {
	--color-background: hsl(221, 23%, 21%);
	--color-text-light: hsl(0, 0%, 84%);
	--color-text-medium: hsl(0, 0%, 72%);
	--color-text-dark: hsl(0, 0%, 53%);
	--color-text-accent: hsl(54, 48%, 52%);

	--font-family-primary: 'Open Sans', sans-serif;
	--font-family-accent: 'Shadows Into Light', cursive;

	--breakpoint-narrow: 320px;
	--breakpoint-medium: 768px;
	--breakpoint-wide: 992px;

	--responsive__font-size: 20px;
	--responsive__root-padding: clamp(10px, 5vmin, 100px);
	--responsive__root-height: calc(100vh - calc(var(--responsive__root-padding) * 2));
}

*, *::before, *::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
	font-weight: lighter;
}

html {
	box-sizing: border-box;
	font-size: var(--responsive__font-size);
	background-color: var(--color-background);

	font-family: var(--font-family-primary);
	color: var(--color-text-dark);
	border-color: var(--color-text-dark);

	min-width: var(--breakpoint-narrow);
	overflow: scroll;

	padding: var(--responsive__root-padding);
}

button {
	color: var(--color-text-dark);
}

/*@media(min-width: env(--breakpoint-medium)) {*/
@media (min-width: 768px) {
	:root {
		--responsive__navigation-section-width: 30vw;
	}
}

/*@media(min-width: env(--breakpoint-wide)) {*/
@media (min-width: 992px) {
	:root {
	}
}
