#root {
	display: grid;
	grid-row-gap: 2rem;
	height: var(--root__height);
}

#landing-section {
	display: grid;
	align-content: center;
	justify-content: center;

	display: none;
}

#navigation-section {
	align-self: var(--navigation-section__align-self);

	width: var(--navigation-section__width);
	overflow: hidden;

	display: flex;
	flex-direction: var(--navigation-section__flex-direction);
	align-items: var(--navigation-section__align-items);
	gap: var(--navigation-section__gap);
}

.link {
	font-size: 1.25rem;

	/* prevents hover from triggering when not over text */
	min-width: max-content;
}

.link--active {
	font-family: var(--font-family-accent);
	color: var(--color-text-light);
	font-size: 2rem;
	text-transform: capitalize;
}

.link--extra-margin-top {
	margin-top: var(--navigation-section__extra-margin);
}

.link--extra-margin-bottom {
	margin-bottom: var(--navigation-section__extra-margin);
}

#contact {
	--contact--font-size: 0.9rem;

	align-self: end;
}

#contact h1 {
	font-family: var(--font-family-accent);
	font-style: normal;
}

#contact h2 {
	font-size: var(--contact--font-size);
}

#contact .button {
	background-color: transparent;
	border-style: solid;
	border-width: 1px;
	margin-top: var(--contact--font-size);
	font-size: var(--contact--font-size);
	padding: 0.1em 1.5em;
}

#contact .button:not(:last-child) {
	margin-right: var(--contact--font-size);
}
