.section {
	display: grid;
	grid-gap: 1.25rem;
	/*grid-template-columns: var(--main__job-information__grid-template-columns);*/
	min-width: 100%;
	height: calc(var(--root__height) - var(--root__padding-doubled));
	min-height: var(--main__section__min-height);
}

.stack {
	height: max-content;
	display: flex;
	flex-flow: row wrap;

	/*background-color: var(--color-background-test-1);*/
	margin-bottom: 1rem;
}

.stack__entry-names {
	padding: 1rem;
	min-width: max-content;
	display: inline-grid;
	grid-gap: 0.25rem;
	align-content: center;
}

.stack__entry-names--active {
	color: var(--color-text-accent);
	/*font-weight: bold;*/
	/*text-decoration: none !important;*/
}

.stack__entry-names--clickable {
	text-decoration: underline;
}

.stack__entries {
	/*min-width: 50px;*/
	margin: auto;
	padding: 1rem;

	display: inline-grid;
	place-items: center;
}

.stack__entry--active {
	color: red;
}
