/* surrounding media query is a hack to prevent sticky hover with touch screens.
	the web is stupid. */
@media (hover: hover) {
	.hoverable:hover {
		color: var(--color-text-accent);
		border-color: var(--color-text-accent);
		cursor: pointer;
	}
}

.hidden {
	display: none;
}

.not-clickable {
	cursor: not-allowed;
}

.bordered {
	border-color: var(--color-text-darkest); /* fixes issue with border color on saf and ff */
	border-style: solid;
	border-width: 1px;
}

.bordered--right {
	border-color: var(--color-text-darkest); /* fixes issue with border color on saf and ff */
	border-style: solid;
	border-width: 1px;
	border-left: none;
	border-top: none;
	border-bottom: none;
}

.text-selectable {
	-webkit-touch-callout: unset; /* iOS Safari */
	-webkit-user-select: text; /* Safari */
	-khtml-user-select: text; /* Konqueror HTML */
	-moz-user-select: text; /* Old versions of Firefox */
	-ms-user-select: text; /* Internet Explorer/Edge */
	user-select: text; /* how it should work */
}

.text-unselectable {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* how it should work */
}
