/* surrounding media query is a hack to prevent sticky hover with touch screens.
	the web is stupid. */
@media (hover: hover) {
	.hoverable:hover {
		color: var(--color-text-accent);
		border-color: var(--color-text-accent);
		cursor: pointer;
	}
}
